
<div class="mobile-menu-overlay"></div>

<div class="main-container">
    <div class="pd-ltr-20">
        <div class="card-box pd-20 height-100-p mb-30">
            <div class="row align-items-center">
                <div class="col-md-4">
                    <img src="vendors/images/banner-img.png" alt="">
                </div>
                <div class="col-md-8">
                    <h4 class="font-20 weight-500 mb-10 text-capitalize">
                        <div class="weight-600 font-30 text-black">Page technicien - ticketing</div>
                    </h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-3 mb-30">
                <div class="card-box height-100-p widget-style1">
                    <div class="d-flex flex-wrap align-items-center">
                        <div class="progress-data">
                            <div id="chart"></div>
                        </div>
                        <div class="widget-data">
                            <div class="h4 mb-0">8</div>
                            <div class="weight-600 font-14">Nouveau tickets</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 mb-30">
                <div class="card-box height-100-p widget-style1">
                    <div class="d-flex flex-wrap align-items-center">
                        <div class="progress-data">
                            <div id="chart2"></div>
                        </div>
                        <div class="widget-data">
                            <div class="h4 mb-0">3</div>
                            <div class="weight-600 font-14">Tickets attribué</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 mb-30">
                <div class="card-box height-100-p widget-style1">
                    <div class="d-flex flex-wrap align-items-center">
                        <div class="progress-data">
                            <div id="chart3"></div>
                        </div>
                        <div class="widget-data">
                            <div class="h4 mb-0">1</div>
                            <div class="weight-600 font-14">Tickets en cours</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 mb-30">
                <div class="card-box height-100-p widget-style1">
                    <div class="d-flex flex-wrap align-items-center">
                        <div class="progress-data">
                            <div id="chart4"></div>
                        </div>
                        <div class="widget-data">
                            <div class="h4 mb-0">10</div>
                            <div class="weight-600 font-14">Tickets en attente</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-box mb-30">
            <h2 class="h4 pd-20">Liste des tickets</h2>
            <table class="data-table table nowrap">
                <thead>
                    <tr>
                        <th>Nom utilisateur</th>
                        <th>Titre</th>
                        <th>Catégorie</th>
                        <th>État</th>
                        <th>Personne qui résoud</th>
                        <th>Importance</th>
                        <th>Urgence</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Jonathan Dale</td>
                        <td>Écran marbré</td>
                        <td>Matériel</td>
                        <td>En cours</td>
                        <td>Dimitri Lymberis</td>
                        <td>3</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>Simon Bae</td>
                        <td>Tout cassé</td>
                        <td>Matériel</td>
                        <td>Nouveau ticket</td>
                        <td>Personne</td>
                        <td>3</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>Ben Tom</td>
                        <td>J'arrive pas à me connecter</td>
                        <td>Technique</td>
                        <td>En attente</td>
                        <td>Karim Bourahla</td>
                        <td>3</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>Jonathan Dale</td>
                        <td>Écran marbré</td>
                        <td>Matériel</td>
                        <td>En cours</td>
                        <td>Dimitri Lymberis</td>
                        <td>2</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>Jonathan Dale</td>
                        <td>Écran marbré</td>
                        <td>Matériel</td>
                        <td>En cours</td>
                        <td>Dimitri Lymberis</td>
                        <td>2</td>
                        <td>3</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="footer-wrap pd-20 mb-20 card-box">
        2022 &copy Ecole technique - Ecole des métiers Lausanne</a>
    </div>
</div>